<style>
  .banner-nik-container{{ module }} {
    {% if width %}
      width: {{ width }}{% if width_unit %}%{% else %}px{% endif %};
    {% else %}
      width: 100%;
    {% endif %}
    {% if height %}
      height: {{ height }}{% if height_unit %}%{% else %}px{% endif %};
    {% else %}
      height: 100%;
    {% endif %}
    /*margin: 0 auto;*/
    padding: 10px;
    text-decoration: none;
    text-underline: none;
  }
  .banner-nik-inner{{ module }} {
    background-size: cover;
    background-image: url('{{ image }}');
    background-repeat: no-repeat;
    padding: {{ padding }};
    width: 100%;
    height: 100%;
    color: #000;
  }
  .banner-nik-inner{{ module }} img {
    max-width: 100%;
  }
</style>

<div class="row">
  {% if link %}<a href="{{ link }}">{% endif %}
    <div class="banner-nik-container{{ module }} {{ class }}">
      <div class="banner-nik-inner{{ module }}">
        {% if display_heading %}
          <p class="banner-nik-heading{{ module }}">{{ name }}</p>
        {% endif %}
        <div class="banner-nik-content{{ module }}">
          {{ text }}
        </div>
      </div>
    </div>
  {% if link %}</a>{% endif %}
</div>
